<% provide(:title, 'New') %>
<div class="container-fluid">
	<div class="panel panel-info">
		<div class="panel-title">
			<span>New Card</span>
		</div>
		<div class="panel-body">
			<%= simple_form_for @card do |f| %>
			<%= f.input :text_ru, as: :text,label_html: { class: 'label label-info' } , input_html: { class: 'form-control' }, placeholder: 'Enter text_ru'%>
			<%= f.input :text_en, as: :text ,label_html: { class: 'label label-info' } , input_html: { class: 'form-control' }, placeholder: 'Enter text_en'%>
			<%= f.input :review_date, as: :date, html5: true,label_html: { class: 'label label-info' }%>
			<%= f.button :submit, "Create Card",class: "btn btn-primary btn-block" %>
			<% end %>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="panel">
		<%= link_to "Back", root_path,
		class:"btn btn-primary btn-block" %>
	</div>
</div>