<% provide(:title, 'New') %>

<div class="container-fluid">
	<div class="panel panel-info">
		<div class="panel-title">
	    	<span>New Card</span>
	    </div>		
	 <div class="panel-body">    
		
    <%= form_for(@card, :html => {:class => ''}) do |f| %>
   
		  
     <div class="form-group">
      <%= f.label(:text_ru, :class=>  "label label-info") %>
      <%= f.text_area(:text_ru, :class=> "form-control") %>
      </div>
       <div class="form-group">
      <%= f.label( :text_en, :class=> "label label-info") %>
      <%= f.text_area(:text_en, :class=> "form-control") %>
      </div>
       <div class="form-group">
      <%= f.label(:review_date, :class=> "label label-info") %>
      <br>
      <%= f.date_select( :review_date, :class=> "form-control") %>
      </div>

      <%= f.submit "Create Card", class: "btn btn-primary btn-block" %>
    <% end %>
   
    </div>
  </div>
</div>